In [6]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 1.0 MB/s eta 0:00:00a 0:00:01m
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

### Importing Dataset

In [76]:
import pandas as pd
data= pd.read_excel('./CRNY_Dataset.xlsx')
data.head()

,id,g14_city,g15_zipcode,g16_county,g17_region,g18_community,g20_raceethnicity1,g20_raceethnicity2,g20_raceethnicity3,g20_raceethnicity4,...,p_agerange,p_status,p41_gender1,p41_gender2,p41_gender3,p41_gender4,p41_gender5,p46_caregiving1,p46_caregiving2,p46_caregiving3
0,N3R8BXQE4K,BUFFALO,14201.0,Erie County,Western New York,Urban,Asian or Pacific Islander,White,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E555HATF05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25-34,Withdrawn,gender_oth,twospirit,woman,NaN,NaN,no_caregiving,NaN,NaN
2,0LTH6QJQH8,New York City,10040.0,New York County (Manhattan),New York City,Urban,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,R3S4V21D40,Manhattan,10031.0,New York County (Manhattan),New York City,Urban,Black or African American,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BZEFVJAYBT,Brooklyn,11238.0,Kings County (Brooklyn),New York City,Urban,Asian or Pacific Islander,Arab or Middle Eastern,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Removing unused columns

In [77]:
data = data.drop([
    'g14_city', 'g15_zipcode', 'g21_immigrant', 'g24_transgender', 'g26_deafdisabled', 
    'g27_providecare1', 'g27_providecare2', 'g27_providecare3', 'g27_providecare4', 'g27_providecare5', 
    'g28_criminallegalsystem', 'g28b_criminal_findemploy', 'p3_impacts', 'p4_barriers', 
    'p9_2021hhincome', 'p10b_wagespaid1', 'p10b_wagespaid2', 'p10b_wagespaid3', 'p10b_wagespaid4', 
    'p11_otherincome', 'p17_stablehousing', 'p19_socialrelationships', 'p20_purposefullife', 
    'p21_agency', 'p23_publicvalueswork', 'p24_articulating', 'p26_awareofgi', 
    'p27_causes1', 'p27_causes2', 'p27_causes3', 'p27_causes4', 'p27_causes5', 
    'p27_causes6', 'p27_causes7', 'p27_causes8', 'p27_causes9', 'p27_causes10', 
    'p28_policygroup', 'p29_emergencyassist', 'p29b_typesofassistance1', 'p29b_typesofassistance2', 
    'p29b_typesofassistance3', 'p29b_typesofassistance4', 'p29b_typesofassistance5', 
    'p29b_typesofassistance6', 'p33_zipcode', 'p39_immigrant', 'p42_transgender', 
    'p43_lgbtqiap', 'p44_deafdisabled', 'p45_criminallegal', 'p45b_criminalemploy', 'p_status', 
    'p46_caregiving1', 'p46_caregiving2', 'p46_caregiving3'
], axis=1)

In [78]:
data.head()

,id,g16_county,g17_region,g18_community,g20_raceethnicity1,g20_raceethnicity2,g20_raceethnicity3,g20_raceethnicity4,g20_raceethnicity5,g20_raceethnicity6,...,p38_race7,p38_race8,p40_language,p_age,p_agerange,p41_gender1,p41_gender2,p41_gender3,p41_gender4,p41_gender5
0,N3R8BXQE4K,Erie County,Western New York,Urban,Asian or Pacific Islander,White,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E555HATF05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,English,28.0,25-34,gender_oth,twospirit,woman,NaN,NaN
2,0LTH6QJQH8,New York County (Manhattan),New York City,Urban,White,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,R3S4V21D40,New York County (Manhattan),New York City,Urban,Black or African American,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BZEFVJAYBT,Kings County (Brooklyn),New York City,Urban,Asian or Pacific Islander,Arab or Middle Eastern,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Age Range Column

Consolidating age range data from 'g_agerange' and 'p_agerange' columns for the same ID into a single column named 'g_agerange'.

In [79]:
data['g_agerange'] = data['g_agerange'].fillna(data['p_agerange'])

Dropping 'p_agerange' column from dataset

In [80]:
data.drop(['p_agerange'], axis =1)

,id,g16_county,g17_region,g18_community,g20_raceethnicity1,g20_raceethnicity2,g20_raceethnicity3,g20_raceethnicity4,g20_raceethnicity5,g20_raceethnicity6,...,p38_race6,p38_race7,p38_race8,p40_language,p_age,p41_gender1,p41_gender2,p41_gender3,p41_gender4,p41_gender5
0,N3R8BXQE4K,Erie County,Western New York,Urban,Asian or Pacific Islander,White,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E555HATF05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,English,28.0,gender_oth,twospirit,woman,NaN,NaN
2,0LTH6QJQH8,New York County (Manhattan),New York City,Urban,White,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,R3S4V21D40,New York County (Manhattan),New York City,Urban,Black or African American,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BZEFVJAYBT,Kings County (Brooklyn),New York City,Urban,Asian or Pacific Islander,Arab or Middle Eastern,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23792,HGEVZINP2O,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,47.0,NaN,NaN,NaN,NaN,NaN
23793,CHR3RMXHT9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,English,36.0,woman,NaN,NaN,NaN,NaN
23794,8JAPTUXUT0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,English,32.0,woman,NaN,NaN,NaN,NaN
23795,JJJ7EM4100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
23796,Z9I2V387IN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,36.0,NaN,NaN,NaN,NaN,NaN

In [82]:
data.head()

,id,g16_county,g17_region,g18_community,g20_raceethnicity1,g20_raceethnicity2,g20_raceethnicity3,g20_raceethnicity4,g20_raceethnicity5,g20_raceethnicity6,...,p38_race7,p38_race8,p40_language,p_age,p_agerange,p41_gender1,p41_gender2,p41_gender3,p41_gender4,p41_gender5
0,N3R8BXQE4K,Erie County,Western New York,Urban,Asian or Pacific Islander,White,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E555HATF05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,English,28.0,25-34,gender_oth,twospirit,woman,NaN,NaN
2,0LTH6QJQH8,New York County (Manhattan),New York City,Urban,White,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,R3S4V21D40,New York County (Manhattan),New York City,Urban,Black or African American,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BZEFVJAYBT,Kings County (Brooklyn),New York City,Urban,Asian or Pacific Islander,Arab or Middle Eastern,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Replacing ambiguity columns

In [83]:
data['g_agerange'] = data['g_agerange'].replace('65+', '65-74')
data['g_agerange'].unique()

array(['25-34', '35-44', '18-24', '65-74', '55-64', '45-54', nan, '75-84'],
      dtype=object)

Retreiving the count of artists for each age distribution

In [84]:
categories = [
    "25-34",
    "35-44",
    "18-24",
    "65-74",
    "55-64",
    "45-54",
    "75-84"]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] += data['g_agerange'].str.contains(category, case=False, na=False).sum()

category_counts

{'25-34': 10407,
 '35-44': 5381,
 '18-24': 2972,
 '65-74': 1047,
 '55-64': 1493,
 '45-54': 2358,
 '75-84': 99}

### Gender Column

Consolidating age range data from 'g23_gender' and 'p41_gender' columns for the same ID into 'g23_gender' columns

In [85]:
data['g23_gender1'] = data['g23_gender1'].fillna(data['p41_gender1'])
data['g23_gender2'] = data['g23_gender2'].fillna(data['p41_gender2'])
data['g23_gender3'] = data['g23_gender3'].fillna(data['p41_gender3'])
data['g23_gender4'] = data['g23_gender4'].fillna(data['p41_gender4'])
data['g23_gender5'] = data['g23_gender5'].fillna(data['p41_gender5'])

Dropping 'p41_gender' columns

In [86]:
data = data.drop(['p41_gender1','p41_gender2','p41_gender3','p41_gender4','p41_gender5'], axis =1)

,id,g16_county,g17_region,g18_community,g20_raceethnicity1,g20_raceethnicity2,g20_raceethnicity3,g20_raceethnicity4,g20_raceethnicity5,g20_raceethnicity6,...,p38_race2,p38_race3,p38_race4,p38_race5,p38_race6,p38_race7,p38_race8,p40_language,p_age,p_agerange
0,N3R8BXQE4K,Erie County,Western New York,Urban,Asian or Pacific Islander,White,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E555HATF05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,hispanlatinx,aianfn,NaN,NaN,NaN,NaN,NaN,English,28.0,25-34
2,0LTH6QJQH8,New York County (Manhattan),New York City,Urban,White,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,R3S4V21D40,New York County (Manhattan),New York City,Urban,Black or African American,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BZEFVJAYBT,Kings County (Brooklyn),New York City,Urban,Asian or Pacific Islander,Arab or Middle Eastern,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Replacing ambiguity values

In [87]:
# Dictionary of replacements
replacements = {
    'woman': 'Woman',
    'man': 'Man',
    'nonbinary': 'Non-binary',
    'twospirit': 'Two-spirit',
    'gender_noanswer': 'I prefer not to answer',
    'gender_oth':'Other (please describe)'
}

# Apply replacements to each gender column
for col in ['g23_gender1','g23_gender2','g23_gender3','g23_gender4','g23_gender5']:
    data[col] = data[col].replace(replacements)

Removing unwanted spaces in the string

In [88]:
data['g23_gender1'] = data['g23_gender1'].str.strip()
data['g23_gender2'] = data['g23_gender2'].str.strip()
data['g23_gender3'] = data['g23_gender3'].str.strip()
data['g23_gender4'] = data['g23_gender4'].str.strip()
data['g23_gender5'] = data['g23_gender5'].str.strip()
data['g23_gender1'].unique()

array(['Woman', 'Other (please describe)', 'Man', 'Non-binary',
       'Two-spirit', 'I prefer not to answer', nan], dtype=object)

Printing unique values

In [89]:
all_genders = pd.concat([
    data['g23_gender1'], 
    data['g23_gender2'], 
    data['g23_gender3'], 
    data['g23_gender4'], 
    data['g23_gender5']
])

all_genders.unique()

array(['Woman', 'Other (please describe)', 'Man', 'Non-binary',
       'Two-spirit', 'I prefer not to answer', nan], dtype=object)

Retreiving the count of artists in each gender

In [90]:
# Define the gender categories
categories = [
    "Woman",
    "Other (please describe)",
    "Man",
    "Non-binary",
    "Two-spirit",
    "I prefer not to answer"
]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# List of gender columns
gender_columns = ['g23_gender1', 'g23_gender2', 'g23_gender3', 'g23_gender4', 'g23_gender5']

# Iterate through the DataFrame rows
for index, row in data.iterrows():
    seen_categories = set()  # Track seen categories for this row
    for column in gender_columns:
        cell_value = row[column]
        # Ensure cell_value is a string
        if pd.notnull(cell_value):
            cell_value = str(cell_value).strip().title()
            for category in categories:
                # Check if the cell contains the category, considering only unseen categories
                if category.title() == cell_value and category not in seen_categories:
                    category_counts[category] += 1
                    seen_categories.add(category)  # Mark the category as seen

print(category_counts)

{'Woman': 10703, 'Other (please describe)': 610, 'Man': 9880, 'Non-binary': 3161, 'Two-spirit': 482, 'I prefer not to answer': 595}

In [91]:
data.head()

,id,g16_county,g17_region,g18_community,g20_raceethnicity1,g20_raceethnicity2,g20_raceethnicity3,g20_raceethnicity4,g20_raceethnicity5,g20_raceethnicity6,...,p38_race2,p38_race3,p38_race4,p38_race5,p38_race6,p38_race7,p38_race8,p40_language,p_age,p_agerange
0,N3R8BXQE4K,Erie County,Western New York,Urban,Asian or Pacific Islander,White,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E555HATF05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,hispanlatinx,aianfn,NaN,NaN,NaN,NaN,NaN,English,28.0,25-34
2,0LTH6QJQH8,New York County (Manhattan),New York City,Urban,White,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,R3S4V21D40,New York County (Manhattan),New York City,Urban,Black or African American,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BZEFVJAYBT,Kings County (Brooklyn),New York City,Urban,Asian or Pacific Islander,Arab or Middle Eastern,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Race Ethnicity

In [92]:
data['g20_raceethnicity1'] = data['g20_raceethnicity1'].fillna(data['p38_race1'])
data['g20_raceethnicity2'] = data['g20_raceethnicity2'].fillna(data['p38_race2'])
data['g20_raceethnicity3'] = data['g20_raceethnicity3'].fillna(data['p38_race3'])
data['g20_raceethnicity4'] = data['g20_raceethnicity4'].fillna(data['p38_race4'])
data['g20_raceethnicity5'] = data['g20_raceethnicity5'].fillna(data['p38_race5'])
data['g20_raceethnicity6'] = data['g20_raceethnicity6'].fillna(data['p38_race6'])
data['g20_raceethnicity7'] = data['g20_raceethnicity7'].fillna(data['p38_race7'])
data['g20_raceethnicity8'] = data['g20_raceethnicity8'].fillna(data['p38_race8'])

In [93]:
data = data.drop(['p38_race1','p38_race2','p38_race3','p38_race4','p38_race5','p38_race6','p38_race7','p38_race8'], axis =1)

In [98]:
all_race = pd.concat([
    data['g20_raceethnicity1'],
    data['g20_raceethnicity2'],
    data['g20_raceethnicity3'],
    data['g20_raceethnicity4'],
    data['g20_raceethnicity5'],
    data['g20_raceethnicity6'],
    data['g20_raceethnicity7'],
    data['g20_raceethnicity8']
], ignore_index=True)

all_race.unique()

array(['Asian or Pacific Islander ', 'blackaa', 'White  ',
       'Black or African American ', 'Hispanic or Latinx ',
       'hispanlatinx', 'white', 'Arab or Middle Eastern ',
       'Indigenous American, First Nation, or Alaska Native ',
       'Other (please describe)  ', 'asian', 'I prefer not to answer ',
       'raceeth_noans', 'araborme',
       'Pacific Islander or Native Hawaiian ', 'raceeth_oth', 'aianfn',
       nan, 'pinh', ' White  ', ' Arab or Middle Eastern ',
       ' Hispanic or Latinx ', ' Black or African American ',
       ' Other (please describe)  ', ' Asian or Pacific Islander ',
       ' Indigenous American, First Nation, or Alaska Native ',
       ' I prefer not to answer ',
       ' Pacific Islander or Native Hawaiian ',
       ' Asian or Pacific Islander [20.2', ' White  [20.7',
       ' Other (please describe)  [20.8',
       ' Indigenous American, First Nation, or Alaska Native [20.5',
       ' Black or African American [20.3', ' Hispanic or Latinx [20.4',
       ' Arab or Middle Eastern [20.1',
       ' Pacific Islander or Native Hawaiian [20.6'], dtype=object)

In [102]:
# Dictionary of replacements
replacements = {
    'Asian or Pacific Islander ': 'Asian',
    'Asian or Pacific Islander [20.2': 'Asian',
    ' Asian or Pacific Islander ': 'Asian',
    ' Asian or Pacific Islander [20.2' : 'Asian',
    ' Black or African American ' : 'Asian',
    ' Black or African American [20.3' : 'Asian',
    'blackaa': 'Black or African American',
    'Black or African American ': 'Black or African American',
    'Black or African American [20.3': 'Black or African American',
    'White  ': 'White',
    ' White  ': 'White',
    ' White  [20.7': 'White',
    'white': 'White',
    'Hispanic or Latinx ': 'Hispanic or Latinx',
    ' Hispanic or Latinx ': 'Hispanic or Latinx',
    ' Hispanic or Latinx [20.4': 'Hispanic or Latinx',
    'hispanlatinx': 'Hispanic or Latinx',
    'Arab or Middle Eastern ': 'Arab or Middle Eastern',
    ' Arab or Middle Eastern ': 'Arab or Middle Eastern',
    ' Arab or Middle Eastern [20.1': 'Arab or Middle Eastern',
    'araborme': 'Arab or Middle Eastern',
    'Indigenous American, First Nation, or Alaska Native ': 'Indigenous American, First Nation, or Alaska Native',
    ' Indigenous American, First Nation, or Alaska Native ': 'Indigenous American, First Nation, or Alaska Native',
    ' Indigenous American, First Nation, or Alaska Native [20.5': 'Indigenous American, First Nation, or Alaska Native',
    'aianfn': 'Indigenous American, First Nation, or Alaska Native',
    'Other (please describe)  ': 'Other: please specify',
    ' Other (please describe)  ': 'Other: please specify',
    ' Other (please describe)  [20.8': 'Other: please specify',
    'raceeth_oth': 'Other: please specify',
    'asian': 'Asian',
    'I prefer not to answer ': 'I prefer not to answer',
    ' I prefer not to answer ': 'I prefer not to answer',
    'raceeth_noans': 'I prefer not to answer',
    'Pacific Islander or Native Hawaiian ': 'Pacific Islander or Native Hawaiian',
    ' Pacific Islander or Native Hawaiian ': 'Pacific Islander or Native Hawaiian',
    ' Pacific Islander or Native Hawaiian [20.6': 'Pacific Islander or Native Hawaiian',
    'pinh': 'Pacific Islander or Native Hawaiian',
}

for col in ['g20_raceethnicity1','g20_raceethnicity2','g20_raceethnicity3','g20_raceethnicity4','g20_raceethnicity5','g20_raceethnicity6','g20_raceethnicity7','g20_raceethnicity8']:
    data[col] = data[col].replace(replacements)

In [103]:
all_race = pd.concat([
    data['g20_raceethnicity1'],
    data['g20_raceethnicity2'],
    data['g20_raceethnicity3'],
    data['g20_raceethnicity4'],
    data['g20_raceethnicity5'],
    data['g20_raceethnicity6'],
    data['g20_raceethnicity7'],
    data['g20_raceethnicity8']
], ignore_index=True)

all_race.unique()

array(['Asian', 'Black or African American', 'White',
       'Hispanic or Latinx', 'Arab or Middle Eastern',
       'Indigenous American, First Nation, or Alaska Native',
       'Other: please specify', 'I prefer not to answer',
       'Pacific Islander or Native Hawaiian', nan], dtype=object)

In [104]:
# Define the gender categories
categories = [
    "Asian",
    "Black or African American",
    "White",
    "Hispanic or Latinx",
    "Arab or Middle Eastern",
    "Indigenous American, First Nation, or Alaska Native",
    "Other: please specify",
    "I prefer not to answer",
    "Pacific Islander or Native Hawaiian"
]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# List of gender columns
race_columns = ['g20_raceethnicity1', 'g20_raceethnicity2', 'g20_raceethnicity3', 'g20_raceethnicity4', 'g20_raceethnicity5','g20_raceethnicity6','g20_raceethnicity7','g20_raceethnicity8']

# Iterate through the DataFrame rows
for index, row in data.iterrows():
    seen_categories = set()  # Track seen categories for this row
    for column in race_columns:
        cell_value = row[column]
        # Ensure cell_value is a string
        if pd.notnull(cell_value):
            cell_value = str(cell_value).strip().title()
            for category in categories:
                # Check if the cell contains the category, considering only unseen categories
                if category.title() == cell_value and category not in seen_categories:
                    category_counts[category] += 1
                    seen_categories.add(category)  # Mark the category as seen

print(category_counts)

{'Asian': 2940, 'Black or African American': 6407, 'White': 9118, 'Hispanic or Latinx': 5066, 'Arab or Middle Eastern': 768, 'Indigenous American, First Nation, or Alaska Native': 1149, 'Other: please specify': 1623, 'I prefer not to answer': 1289, 'Pacific Islander or Native Hawaiian': 128}

### Language

In [105]:
data['g22_language'] = data['g22_language'].fillna(data['p40_language'])

In [106]:
data = data.drop(['p40_language'], axis =1)

In [110]:
data['g22_language'] = data['g22_language'].str.strip()
data['g22_language'] = data['g22_language'].replace('Other (please describe):','Other (please describe)')
data['g22_language'] = data['g22_language'].replace('Prefer not to answer','I prefer not to answer')
data['g22_language'].unique()

array(['English', 'Spanish', 'Other (please describe)',
       'Mandarin or Cantonese', 'Polish', 'Russian', 'Korean', 'Bengali',
       'Arabic', 'I prefer not to answer', 'Italian', nan,
       'Haitian Creole', 'Yiddish'], dtype=object)

In [111]:
categories = [
    "English",
    "Spanish",
    "Other (please describe)",
    "Mandarin or Cantonese",
    "Polish",
    "Russian",
    "Korean",
    "Bengali",
    "Arabic",
    "I prefer not to answer",
    "Italian",
    "Haitian Creole",
    "Yiddish"
]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# List of gender columns
language_columns = ['g22_language']

# Iterate through the DataFrame rows
for index, row in data.iterrows():
    seen_categories = set()  # Track seen categories for this row
    for column in language_columns:
        cell_value = row[column]
        # Ensure cell_value is a string
        if pd.notnull(cell_value):
            cell_value = str(cell_value).strip().title()
            for category in categories:
                # Check if the cell contains the category, considering only unseen categories
                if category.title() == cell_value and category not in seen_categories:
                    category_counts[category] += 1
                    seen_categories.add(category)  # Mark the category as seen

print(category_counts)

{'English': 20892, 'Spanish': 1144, 'Other (please describe)': 753, 'Mandarin or Cantonese': 353, 'Polish': 28, 'Russian': 103, 'Korean': 104, 'Bengali': 15, 'Arabic': 38, 'I prefer not to answer': 33, 'Italian': 74, 'Haitian Creole': 32, 'Yiddish': 4}

### County

In [112]:
data['g16_county'] = data['g16_county'].fillna(data['p34_county'])

In [113]:
data = data.drop(['p34_county'], axis =1)

In [115]:
data['g16_county'] = data['g16_county'].str.strip()
data['g16_county'].unique()

array(['Erie County', 'Bronx County', 'New York County (Manhattan)',
       'Kings County (Brooklyn)', 'Queens County', 'Broome County',
       'Ulster County', 'Suffolk County', 'Albany County',
       'Greene County', 'Monroe County', 'Saratoga County', nan,
       'Nassau County', 'Oneida County', 'Orange County',
       'Rensselaer County', 'Columbia County', 'Cayuga County',
       'Herkimer County', 'Westchester County', 'Tompkins County',
       'Onondaga County', 'Dutchess County', 'Putnam County',
       'Oswego County', 'Warren County', 'Otsego County',
       'Franklin County', 'Rockland County',
       'Richmond County (Staten Island)', 'Allegany County',
       'Essex County', 'Niagara County', 'Wyoming County',
       'Clinton County', 'Chemung County', 'Ontario County',
       'Washington County', 'St. Lawrence County', 'Jefferson County',
       'Cattaraugus County', 'Wayne County', 'Seneca County',
       'Sullivan County', 'Delaware County', 'Chautauqua County',
       'Genesee County', 'Montgomery County', 'Livingston County',
       'Schuyler County', 'Schenectady County', 'Chenango County',
       'Orleans County', 'Cortland County', 'Fulton County',
       'Steuben County', 'Schoharie County', 'Madison County',
       'Tioga County', 'Lewis County', 'Yates County', 'Hamilton County'],
      dtype=object)

In [116]:
categories = [
    'Erie County', 'Bronx County', 'New York County (Manhattan)', 'Kings County (Brooklyn)',
    'Queens County', 'Broome County', 'Ulster County', 'Suffolk County', 'Albany County',
    'Greene County', 'Monroe County', 'Saratoga County', 'Nassau County', 'Oneida County',
    'Orange County', 'Rensselaer County', 'Columbia County', 'Cayuga County', 'Herkimer County',
    'Westchester County', 'Tompkins County', 'Onondaga County', 'Dutchess County', 'Putnam County',
    'Oswego County', 'Warren County', 'Otsego County', 'Franklin County', 'Rockland County',
    'Richmond County (Staten Island)', 'Allegany County', 'Essex County', 'Niagara County',
    'Wyoming County', 'Clinton County', 'Chemung County', 'Ontario County', 'Washington County',
    'St. Lawrence County', 'Jefferson County', 'Cattaraugus County', 'Wayne County', 'Seneca County',
    'Sullivan County', 'Delaware County', 'Chautauqua County', 'Genesee County', 'Montgomery County',
    'Livingston County', 'Schuyler County', 'Schenectady County', 'Chenango County', 'Orleans County',
    'Cortland County', 'Fulton County', 'Steuben County', 'Schoharie County', 'Madison County',
    'Tioga County', 'Lewis County', 'Yates County', 'Hamilton County'
]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# List of gender columns
county_columns = ['g16_county']

# Iterate through the DataFrame rows
for index, row in data.iterrows():
    seen_categories = set()  # Track seen categories for this row
    for column in county_columns:
        cell_value = row[column]
        # Ensure cell_value is a string
        if pd.notnull(cell_value):
            cell_value = str(cell_value).strip().title()
            for category in categories:
                # Check if the cell contains the category, considering only unseen categories
                if category.title() == cell_value and category not in seen_categories:
                    category_counts[category] += 1
                    seen_categories.add(category)  # Mark the category as seen

print(category_counts)

{'Erie County': 366, 'Bronx County': 1525, 'New York County (Manhattan)': 5660, 'Kings County (Brooklyn)': 8462, 'Queens County': 2951, 'Broome County': 80, 'Ulster County': 379, 'Suffolk County': 363, 'Albany County': 161, 'Greene County': 45, 'Monroe County': 423, 'Saratoga County': 76, 'Nassau County': 377, 'Oneida County': 47, 'Orange County': 160, 'Rensselaer County': 90, 'Columbia County': 94, 'Cayuga County': 22, 'Herkimer County': 16, 'Westchester County': 415, 'Tompkins County': 144, 'Onondaga County': 208, 'Dutchess County': 229, 'Putnam County': 44, 'Oswego County': 26, 'Warren County': 21, 'Otsego County': 34, 'Franklin County': 60, 'Rockland County': 91, 'Richmond County (Staten Island)': 269, 'Allegany County': 21, 'Essex County': 19, 'Niagara County': 48, 'Wyoming County': 5, 'Clinton County': 20, 'Chemung County': 36, 'Ontario County': 35, 'Washington County': 14, 'St. Lawrence County': 59, 'Jefferson County': 30, 'Cattaraugus County': 26, 'Wayne County': 14, 'Seneca County': 12, 'Sullivan County': 39, 'Delaware County': 51, 'Chautauqua County': 60, 'Genesee County': 13, 'Montgomery County': 14, 'Livingston County': 20, 'Schuyler County': 14, 'Schenectady County': 39, 'Chenango County': 20, 'Orleans County': 2, 'Cortland County': 18, 'Fulton County': 8, 'Steuben County': 40, 'Schoharie County': 9, 'Madison County': 17, 'Tioga County': 10, 'Lewis County': 3, 'Yates County': 5, 'Hamilton County': 1}

### Region

In [118]:
data['g17_region'] = data['g17_region'].fillna(data['p35_region'])

In [119]:
data = data.drop(['p35_region'], axis =1)

In [122]:
data['g17_region'] = data['g17_region'].str.strip()
data['g17_region'] = data['g17_region'].replace('Western New Yorkâ€¯','Western New York')
data['g17_region'].unique()

array(['Western New York', 'New York City', 'Southern Tier', 'Mid-Hudson',
       'Long Island', 'Capital Region', 'Finger Lakes', nan,
       'Mohawk Valley', 'Central New York', 'North Country'], dtype=object)

In [124]:
categories = [
    'Western New York', 'New York City', 'Southern Tier', 'Mid-Hudson',
       'Long Island', 'Capital Region', 'Finger Lakes',
       'Mohawk Valley', 'Central New York', 'North Country'
]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# List of gender columns
region_columns = ['g17_region']

# Iterate through the DataFrame rows
for index, row in data.iterrows():
    seen_categories = set()  # Track seen categories for this row
    for column in region_columns:
        cell_value = row[column]
        # Ensure cell_value is a string
        if pd.notnull(cell_value):
            cell_value = str(cell_value).strip().title()
            for category in categories:
                # Check if the cell contains the category, considering only unseen categories
                if category.title() == cell_value and category not in seen_categories:
                    category_counts[category] += 1
                    seen_categories.add(category)  # Mark the category as seen

print(category_counts)

{'Western New York': 521, 'New York City': 18865, 'Southern Tier': 428, 'Mid-Hudson': 1347, 'Long Island': 735, 'Capital Region': 540, 'Finger Lakes': 528, 'Mohawk Valley': 95, 'Central New York': 291, 'North Country': 191}

### Community

In [126]:
data['g18_community'] = data['g18_community'].fillna(data['p36_community'])

In [127]:
data = data.drop(['p36_community'], axis =1)

In [128]:
data['g18_community'] = data['g18_community'].str.strip()
data['g18_community'].unique()

array(['Urban', 'Rural', 'Suburban', nan, 'Tribal'], dtype=object)

In [129]:
categories = [
 'Urban', 'Rural', 'Suburban','Tribal'
]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# List of gender columns
community_columns = ['g18_community']

# Iterate through the DataFrame rows
for index, row in data.iterrows():
    seen_categories = set()  # Track seen categories for this row
    for column in community_columns:
        cell_value = row[column]
        # Ensure cell_value is a string
        if pd.notnull(cell_value):
            cell_value = str(cell_value).strip().title()
            for category in categories:
                # Check if the cell contains the category, considering only unseen categories
                if category.title() == cell_value and category not in seen_categories:
                    category_counts[category] += 1
                    seen_categories.add(category)  # Mark the category as seen

print(category_counts)

{'Urban': 19429, 'Rural': 1531, 'Suburban': 2492, 'Tribal': 117}

### Discipline

In [130]:
data['g30_discipline1'] = data['g30_discipline1'].fillna(data['p1_discipline1'])
data['g30_discipline2'] = data['g30_discipline2'].fillna(data['p1_discipline2'])
data['g30_discipline3'] = data['g30_discipline3'].fillna(data['p1_discipline3'])

In [132]:
data = data.drop(['p1_discipline1','p1_discipline2','p1_discipline3'], axis =1)

In [136]:
data['g30_discipline1'] = data['g30_discipline1'].str.strip()
data['g30_discipline2'] = data['g30_discipline2'].str.strip()
data['g30_discipline2'] = data['g30_discipline3'].str.strip()

In [146]:
replacements = {
    'Crafts' : 'Craft',
    '(blank)' : 'null',
    'Design  ': 'Design',
    'Media Arts  ': 'Media Arts',
    'Visual Arts  ': 'Visual Arts',
    'Performance Art  ':'Performance Art',
    'Music  ': 'Music',
    'Interdisciplinary Arts  ':'Interdisciplinary Arts',
    'Literary Arts  ': 'Literary Arts',
    'Social Practice  ' : 'Social Practice',
    'Traditional Arts  ':'Traditional Arts',
    'Craft  ':'Craft',
    'Theater  ':'Theater',
    'Film  ':'Film',
    'Oral Traditions  ':'Oral Traditions',
    'Dance  ': 'Dance',
}

for col in ['g30_discipline1','g30_discipline2','g30_discipline3']:
    data[col] = data[col].replace(replacements)

In [147]:
all_discipline = pd.concat([
    data['g30_discipline1'],
    data['g30_discipline2'],
    data['g30_discipline3']
], ignore_index=True)

all_discipline.unique()

array(['Visual Arts', 'Interdisciplinary Arts', 'Theater', 'Film',
       'Music', 'Media Arts', 'Craft', 'Literary Arts', 'Design', 'Dance',
       'Traditional Arts', 'Social Practice', 'Performance Art',
       'Oral Traditions', nan, ''], dtype=object)

In [248]:
# Define the gender categories
categories = [
 'Visual Arts', 'Interdisciplinary Arts', 'Theater', 'Film',
       'Music', 'Media Arts', 'Craft', 'Literary Arts', 'Design', 'Dance',
       'Traditional Arts', 'Social Practice', 'Performance Art',
       'Oral Traditions'
]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# List of gender columns
discipline_columns = ['g30_discipline1', 'g30_discipline2', 'g30_discipline3']

# Iterate through the DataFrame rows
for index, row in data.iterrows():
    seen_categories = set()  # Track seen categories for this row
    for column in discipline_columns:
        cell_value = row[column]
        # Ensure cell_value is a string
        if pd.notnull(cell_value):
            cell_value = str(cell_value).strip().title()
            for category in categories:
                # Check if the cell contains the category, considering only unseen categories
                if category.title() == cell_value and category not in seen_categories:
                    category_counts[category] += 1
                    seen_categories.add(category)  # Mark the category as seen

print(category_counts)

{'Visual Arts': 7067, 'Interdisciplinary Arts': 2466, 'Theater': 2845, 'Film': 3266, 'Music': 6424, 'Media Arts': 2487, 'Craft': 2266, 'Literary Arts': 2353, 'Design': 2325, 'Dance': 1728, 'Traditional Arts': 833, 'Social Practice': 1322, 'Performance Art': 1996, 'Oral Traditions': 437}

### Art Practice

In [149]:
data['g31_approach1'] = data['g31_approach1'].fillna(data['p2_approachtopractice1'])
data['g31_approach2'] = data['g31_approach2'].fillna(data['p2_approachtopractice2'])
data['g31_approach3'] = data['g31_approach3'].fillna(data['p2_approachtopractice3'])
data['g31_approach4'] = data['g31_approach4'].fillna(data['p2_approachtopractice4'])
data['g31_approach5'] = data['g31_approach5'].fillna(data['p2_approachtopractice5'])
data['g31_approach6'] = data['g31_approach6'].fillna(data['p2_approachtopractice6'])

In [150]:
data = data.drop(['p2_approachtopractice1','p2_approachtopractice2','p2_approachtopractice3','p2_approachtopractice4','p2_approachtopractice5','p2_approachtopractice6'], axis =1)

In [152]:
data['g31_approach1'] = data['g31_approach1'].str.strip()
data['g31_approach2'] = data['g31_approach2'].str.strip()
data['g31_approach3'] = data['g31_approach3'].str.strip()
data['g31_approach4'] = data['g31_approach4'].str.strip()
data['g31_approach5'] = data['g31_approach5'].str.strip()
data['g31_approach6'] = data['g31_approach6'].str.strip()

In [155]:
all_approach = pd.concat([
    data['g31_approach1'],
    data['g31_approach2'],
    data['g31_approach3'],
    data['g31_approach4'],
    data['g31_approach5'],
    data['g31_approach6']
], ignore_index=True)

all_approach.unique()

array(['I work as a solo artist.',
       'I collaborate regularly with other artists.',
       'Performing, presenting, or exhibiting to an audience or viewers is core to my practice.',
       'Teaching or educating others is core to my practice.',
       'My practice requires public or community involvement to have meaning.',
       'I collaborate regularly with other non-arts practitioners.', nan],
      dtype=object)

In [154]:
replacements = {
    'collab_artists' : 'I collaborate regularly with other artists.',
    'solo_artist' : 'I work as a solo artist.',
    'public_involvement': 'My practice requires public or community involvement to have meaning.',
    'collab_nonartists':  'I collaborate regularly with other non-arts practitioners.',
    'teaching_others': 'Teaching or educating others is core to my practice.',
    'perform_present_exhibit':'Performing, presenting, or exhibiting to an audience or viewers is core to my practice.'
}

for col in ['g31_approach1','g31_approach2','g31_approach3','g31_approach4','g31_approach5','g31_approach6']:
    data[col] = data[col].replace(replacements)

In [157]:
# Define the gender categories
approach_categories = ['I work as a solo artist.',
       'I collaborate regularly with other artists.',
       'Performing, presenting, or exhibiting to an audience or viewers is core to my practice.',
       'Teaching or educating others is core to my practice.',
       'My practice requires public or community involvement to have meaning.',
       'I collaborate regularly with other non-arts practitioners.'
]

# Initialize a dictionary to hold the counts for each category
approach_category_counts = {category: 0 for category in approach_categories}

# List of gender columns
approach_columns = ['g31_approach1','g31_approach2','g31_approach3','g31_approach4','g31_approach5','g31_approach6']

# Iterate through the DataFrame rows
for index, row in data.iterrows():
    seen_categories = set()  # Track seen categories for this row
    for column in approach_columns:
        cell_value = row[column]
        # Ensure cell_value is a string
        if pd.notnull(cell_value):
            cell_value = str(cell_value).strip().title()
            for category in categories:
                # Check if the cell contains the category, considering only unseen categories
                if category.title() == cell_value and category not in seen_categories:
                    category_counts[category] += 1
                    seen_categories.add(category)  # Mark the category as seen

print(approach_category_counts)

{'I work as a solo artist.': 19964, 'I collaborate regularly with other artists.': 16344, 'Performing, presenting, or exhibiting to an audience or viewers is core to my practice.': 14825, 'Teaching or educating others is core to my practice.': 10327, 'My practice requires public or community involvement to have meaning.': 10528, 'I collaborate regularly with other non-arts practitioners.': 7460}

### Energy Management

In [159]:
amountofenergy = 'p5_amountofenergy'  # Remove the square brackets as they are not needed

categories = [
    "1 – no energy",
    "3 – my energy fluctuates",
    "2 – very low energy",
    "5 – more than enough energy",
    "4 – sufficient energy"]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus'] == 'Enrolled'][amountofenergy].str.contains(category, case=False, na=False).sum()

category_counts

{'1 – no energy': 32,
 '3 – my energy fluctuates': 574,
 '2 – very low energy': 185,
 '5 – more than enough energy': 241,
 '4 – sufficient energy': 256}

In [162]:
amountofenergy = 'p5_amountofenergy'  # Remove the square brackets as they are not needed

categories = [
    "1 – no energy",
    "3 – my energy fluctuates",
    "2 – very low energy",
    "5 – more than enough energy",
    "4 – sufficient energy"]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus']!= 'Enrolled'][amountofenergy].str.contains(category, case=False, na=False).sum()

category_counts

{'1 – no energy': 189,
 '3 – my energy fluctuates': 5144,
 '2 – very low energy': 1500,
 '5 – more than enough energy': 2417,
 '4 – sufficient energy': 2398}

### Time Management

In [163]:
amountoftime = 'p6_amountoftime'  # Remove the square brackets as they are not needed

categories = [
    "2 – very little time",
    "5 – more than enough time",
    "4 – sufficient time",
    "3 – my time fluctuates",
    "1 – no time at all"]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus'] == 'Enrolled'][amountoftime].str.contains(category, case=False, na=False).sum()

category_counts

{'2 – very little time': 241,
 '5 – more than enough time': 204,
 '4 – sufficient time': 292,
 '3 – my time fluctuates': 536,
 '1 – no time at all': 14}

In [164]:
amountoftime = 'p6_amountoftime'  # Remove the square brackets as they are not needed

categories = [
    "2 – very little time",
    "5 – more than enough time",
    "4 – sufficient time",
    "3 – my time fluctuates",
    "1 – no time at all"]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus'] != 'Enrolled'][amountoftime].str.contains(category, case=False, na=False).sum()

category_counts

{'2 – very little time': 2009,
 '5 – more than enough time': 1859,
 '4 – sufficient time': 2712,
 '3 – my time fluctuates': 4851,
 '1 – no time at all': 192}

### Financial Safety Net

In [167]:
data['g29_financialsafetynet1'] = data['g29_financialsafetynet1'].str.strip()
data['g29_financialsafetynet2'] = data['g29_financialsafetynet2'].str.strip()
data['g29_financialsafetynet3'] = data['g29_financialsafetynet3'].str.strip()
data['g29_financialsafetynet4'] = data['g29_financialsafetynet4'].str.strip()

In [168]:
all_financialsafetynet = pd.concat([
    data['g29_financialsafetynet1'],
    data['g29_financialsafetynet2'],
    data['g29_financialsafetynet3'],
    data['g29_financialsafetynet4']
], ignore_index=True)

all_financialsafetynet.unique()

array(['I have no financial safety net (savings, assets, family resources)',
       nan, 'None of the above', 'I am vulnerable to a medical emergency',
       'I am unsure when I will make any income again',
       'I have unmanageable debt (financial obligations not paid in full each month like credit cards, personal loans, payday loans or short-term debt, student loan debt, housing debt, automobile loan, other)'],
      dtype=object)

In [172]:
# Define the gender categories
categories = ['I have no financial safety net (savings, assets, family resources)','None of the above', 'I am vulnerable to a medical emergency',
       'I am unsure when I will make any income again',
       'I have unmanageable debt (financial obligations not paid in full each month like credit cards, personal loans, payday loans or short-term debt, student loan debt, housing debt, automobile loan, other)']

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# List of gender columns
financialsafetynet_columns = ['g29_financialsafetynet1','g29_financialsafetynet2','g29_financialsafetynet3','g29_financialsafetynet4'] 

# Iterate through the DataFrame rows
for index, row in data.iterrows():
    seen_categories = set()  # Track seen categories for this row
    for column in financialsafetynet_columns:
        cell_value = row[column]
        # Ensure cell_value is a string
        if pd.notnull(cell_value):
            cell_value = str(cell_value).strip().title()
            for category in categories:
                # Check if the cell contains the category, considering only unseen categories
                if category.title() == cell_value and category not in seen_categories:
                    category_counts[category] += 1
                    seen_categories.add(category)  # Mark the category as seen

print(category_counts)

{'I have no financial safety net (savings, assets, family resources)': 13287, 'None of the above': 1843, 'I am vulnerable to a medical emergency': 7952, 'I am unsure when I will make any income again': 11687, 'I have unmanageable debt (financial obligations not paid in full each month like credit cards, personal loans, payday loans or short-term debt, student loan debt, housing debt, automobile loan, other)': 11623}

In [179]:
category_counts = {category: 0 for category in categories}

# List of columns containing financial safety net information
financialsafetynet_columns = ['g29_financialsafetynet1', 'g29_financialsafetynet2', 'g29_financialsafetynet3', 'g29_financialsafetynet4']

# Iterate through categories and columns
for category in categories:
    for column in financialsafetynet_columns:
        # Count occurrences of category in Enrolled group
        category_counts[category] += data[data['g_enrollmentstatus'] == 'Enrolled'][column].str.contains(category, case=False, na=False).sum()

print(category_counts)

{'No financial safety net': 1500, 'None of the above': 132, 'Vulnerable to a medical emergency': 977, 'Unsure when I will make any income again': 1335, 'Unmanageable debt': 1314}

In [181]:
category_counts = {category: 0 for category in categories}

# List of columns containing financial safety net information
financialsafetynet_columns = ['g29_financialsafetynet1', 'g29_financialsafetynet2', 'g29_financialsafetynet3', 'g29_financialsafetynet4']

# Iterate through categories and columns
for category in categories:
    for column in financialsafetynet_columns:
        # Count occurrences of category in Enrolled group
        category_counts[category] += data[data['g_enrollmentstatus'] != 'Enrolled'][column].str.contains(category, case=False, na=False).sum()

print(category_counts)

{'No financial safety net': 11787, 'None of the above': 1711, 'Vulnerable to a medical emergency': 6975, 'Unsure when I will make any income again': 10352, 'Unmanageable debt': 10309}

### Enrolled in Public Benefits?

In [182]:
enrolled = 'g32_enrolled'  # Remove the square brackets as they are not needed

categories = ["Yes", "No"]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus'] == 'Enrolled'][enrolled].str.contains(category, case=False, na=False).sum()

category_counts

{'Yes': 783, 'No': 1617}

In [183]:
enrolled = 'g32_enrolled'  # Remove the square brackets as they are not needed

categories = ["Yes", "No"]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus'] != 'Enrolled'][enrolled].str.contains(category, case=False, na=False).sum()

category_counts

{'Yes': 5729, 'No': 13792}

### If yes, what are they?

In [188]:
# Define the gender categories
categories = ["Medicaid for Adults and Child Health Plus",
    "Supplemental Nutrition Assistance Program (SNAP)",
    "Supplemental Security Income (SSI)",
    "Child Tax Credit (CTC)",
    "Health Insurance Marketplace Subsidies",
    "Head Start/Early Head Start",
    "Childcare Subsidy (CCDF)",
    "Other (please describe)",
    "Social Security Disability Insurance (SSDI)",
    "Section 8 Housing Voucher",
    "Temporary Cash Assistance (TANF)",
    "Women, Infants, and Children Nutrition Program (WIC)",
    "Earned Income Tax Credit (EITC)",
    "Federal Child and Dependent Care Tax Credit (CDCTC)"]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# List of gender columns
enrolled_columns = ['g32b_enrolled_name1','g32b_enrolled_name2','g32b_enrolled_name3','g32b_enrolled_name4','g32b_enrolled_name5','g32b_enrolled_name6','g32b_enrolled_name7','g32b_enrolled_name8','g32b_enrolled_name9'] 

# Iterate through the DataFrame rows
for index, row in data.iterrows():
    seen_categories = set()  # Track seen categories for this row
    for column in enrolled_columns:
        cell_value = row[column]
        # Ensure cell_value is a string
        if pd.notnull(cell_value):
            cell_value = str(cell_value).strip().title()
            for category in categories:
                # Check if the cell contains the category, considering only unseen categories
                if category.title() == cell_value and category not in seen_categories:
                    category_counts[category] += 1
                    seen_categories.add(category)  # Mark the category as seen

print(category_counts)

{'Medicaid for Adults and Child Health Plus': 4141, 'Supplemental Nutrition Assistance Program (SNAP)': 3091, 'Supplemental Security Income (SSI)': 304, 'Child Tax Credit (CTC)': 422, 'Health Insurance Marketplace Subsidies': 686, 'Head Start/Early Head Start': 23, 'Childcare Subsidy (CCDF)': 17, 'Other (please describe)': 859, 'Social Security Disability Insurance (SSDI)': 330, 'Section 8 Housing Voucher': 293, 'Temporary Cash Assistance (TANF)': 426, 'Women, Infants, and Children Nutrition Program (WIC)': 121, 'Earned Income Tax Credit (EITC)': 427, 'Federal Child and Dependent Care Tax Credit (CDCTC)': 103}

### Financial Capacity

In [197]:
financialcapacity = 'p7_financialcapacity'  # Remove the square brackets as they are not needed

categories = [
    "2 – I can afford only some of these items",
    "3 – My financial capacity to afford these items fluctuates",
    "1 – I cannot afford these items",
    "4 – I can afford these items",
    "5 – I have more than enough to afford materials"]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus'] == 'Enrolled'][financialcapacity].str.contains(category, case=False, na=False).sum()

category_counts

{'2 – I can afford only some of these items': 611,
 '3 – My financial capacity to afford these items fluctuates': 0,
 '1 – I cannot afford these items': 432,
 '4 – I can afford these items': 19,
 '5 – I have more than enough to afford materials': 2}

In [198]:
financialcapacity = 'p7_financialcapacity'  # Remove the square brackets as they are not needed

categories = [
    "2 – I can afford only some of these items",
    "3 – My financial capacity to afford these items fluctuates",
    "1 – I cannot afford these items",
    "4 – I can afford these items",
    "5 – I have more than enough to afford materials"]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus'] != 'Enrolled'][financialcapacity].str.contains(category, case=False, na=False).sum()

category_counts

{'2 – I can afford only some of these items': 5430,
 '3 – My financial capacity to afford these items fluctuates': 0,
 '1 – I cannot afford these items': 3693,
 '4 – I can afford these items': 234,
 '5 – I have more than enough to afford materials': 48}

### Financial Stability

In [201]:
financialstability = 'p8_financialstability'  # Remove the square brackets as they are not needed

categories = [
    "1 – extremely unstable",
    "2 – unstable",
    "3 – my financial stability fluctuates",
    "4 – stable",
    "5 – extremely stable"]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus'] == 'Enrolled'][financialstability].str.contains(category, case=False, na=False).sum()

category_counts

{'1 – extremely unstable': 329,
 '2 – unstable': 566,
 '3 – my financial stability fluctuates': 359,
 '4 – stable': 35,
 '5 – extremely stable': 1}

In [200]:
financialstability = 'p8_financialstability'  # Remove the square brackets as they are not needed

categories = [
    "1 – extremely unstable",
    "2 – unstable",
    "3 – my financial stability fluctuates",
    "4 – stable",
    "5 – extremely stable"]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus'] != 'Enrolled'][financialstability].str.contains(category, case=False, na=False).sum()

category_counts

{'1 – extremely unstable': 2625,
 '2 – unstable': 4764,
 '3 – my financial stability fluctuates': 3749,
 '4 – stable': 490,
 '5 – extremely stable': 27}

### Earning Money

In [208]:
replacements = {
    "fulltimejob": "I have a full-time job (more than 30 hours per week)",
    "artpractice": "I earn 100% of my living through my art practice.",
    "gigs_contracts_temp": "I have a series of gigs, contracts, and temporary jobs.",
    "unemployed": "I am currently unemployed.",
    "parttimejob": "I have one or more part-time jobs (less than 30 hours per week)",
    "other_earn": "Other (please describe)",
    "familypartnersupport": "I am primarily or entirely supported by family or by my spouse/partner."
}

for col in ['p10_earnmoney1', 'p10_earnmoney2', 'p10_earnmoney3', 'p10_earnmoney4']:
    data[col] = data[col].replace(replacements)

In [210]:
all_earnmoney = pd.concat([
    data['p10_earnmoney1'],
    data['p10_earnmoney2'],
    data['p10_earnmoney3'],
    data['p10_earnmoney4']
], ignore_index=True)

all_earnmoney.unique()

array([nan, 'I earn 100% of my living through my art practice.',
       'I am currently unemployed.',
       'I have one or more part-time jobs (less than 30 hours per week)',
       'I have a full-time job (more than 30 hours per week)',
       'Other (please describe)',
       'I have a series of gigs, contracts, and temporary jobs.',
       'I am primarily or entirely supported by family or by my spouse/partner.'],
      dtype=object)

In [212]:
### List of columns containing earning money information
earnmoney = ['p10_earnmoney1', 'p10_earnmoney2', 'p10_earnmoney3', 'p10_earnmoney4']

# Define the categories
categories = [
    'I have a series of gigs, contracts, and temporary jobs.',
    'I have one or more part-time jobs (less than 30 hours per week)',
    'I am currently unemployed.',
    'I earn 100% of my living through my art practice.',
    'I am primarily or entirely supported by family or by my spouse/partner.',
    'Other (please describe)',
    'I have a full-time job (more than 30 hours per week)'
]

# Iterate through the DataFrame rows
for index, row in data.iterrows():
    seen_categories = set()  # Track seen categories for this row
    for column in earnmoney:
        cell_value = row[column]
        # Ensure cell_value is a string
        if pd.notnull(cell_value):
            cell_value = str(cell_value).strip().title()
            for category in categories:
                # Check if the cell contains the category, considering only unseen categories
                if category.title() == cell_value and category not in seen_categories:
                    category_counts[category] += 1
                    seen_categories.add(category)  # Mark the category as seen

print(category_counts)

{'I have a series of gigs, contracts, and temporary jobs.': 12614, 'I have one or more part-time jobs (less than 30 hours per week)': 8826, 'I am currently unemployed.': 7645, 'I earn 100% of my living through my art practice.': 4940, 'I am primarily or entirely supported by family or by my spouse/partner.': 3052, 'Other (please describe)': 3565, 'I have a full-time job (more than 30 hours per week)': 2378}

### Has Health Insurance?

In [217]:
healthinsurance = 'p12_healthinsurance'  # Remove the square brackets as they are not needed

categories = ["Yes", "No"]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus']=='Enrolled'][healthinsurance].str.contains(category, case=False, na=False).sum()

category_counts

{'Yes': 1080, 'No': 200}

In [218]:
healthinsurance = 'p12_healthinsurance'  # Remove the square brackets as they are not needed

categories = ["Yes", "No"]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus']!='Enrolled'][healthinsurance].str.contains(category, case=False, na=False).sum()

category_counts

{'Yes': 9487, 'No': 2061}

### 400Emergency

In [219]:
_400emergency = 'p13_400emergency'  # Remove the square brackets as they are not needed

categories = ["Yes", "No"]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus']=='Enrolled'][_400emergency].str.contains(category, case=False, na=False).sum()

category_counts

{'Yes': 431, 'No': 843}

In [220]:
_400emergency = 'p13_400emergency'  # Remove the square brackets as they are not needed

categories = ["Yes", "No"]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus']!='Enrolled'][_400emergency].str.contains(category, case=False, na=False).sum()

category_counts

{'Yes': 4056, 'No': 7443}

### Carrying Debt?

In [240]:
carryingdebt = 'p14_carryingdebt'  # Remove the square brackets as they are not needed

categories = ["Yes", "No"]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus']=='Enrolled'][carryingdebt].str.contains(category, case=False, na=False).sum()

category_counts

{'Yes': 1011, 'No': 277}

In [241]:
carryingdebt = 'p14_carryingdebt'  # Remove the square brackets as they are not needed

categories = ["Yes", "No"]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus']!='Enrolled'][carryingdebt].str.contains(category, case=False, na=False).sum()

category_counts

{'Yes': 8770, 'No': 2833}

### Can Manage Debt?

In [223]:
debtmanageable = 'p14b_debtmanageable'  # Remove the square brackets as they are not needed

categories = ["Manageable", "Unmanageable"]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus']=='Enrolled'][debtmanageable].str.contains(category, case=False, na=False).sum()

category_counts

{'Manageable': 987, 'Unmanageable': 661}

In [224]:
debtmanageable = 'p14b_debtmanageable'  # Remove the square brackets as they are not needed

categories = ["Manageable", "Unmanageable"]

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus']!='Enrolled'][debtmanageable].str.contains(category, case=False, na=False).sum()

category_counts

{'Manageable': 8557, 'Unmanageable': 5391}

### Physical Health

In [225]:
physicalhealth = 'p15_physicalhealth'

# Define categories as strings
categories = [
    '1 – Strongly disagree',
    '4 – Agree',
    '3 – Neither agree nor disagree / Not sure',
    '5 – Strongly agree',
    '2 – Disagree']

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus'] == 'Enrolled'][physicalhealth].str.count(category).sum()

category_counts

{'1 – Strongly disagree': 47.0,
 '4 – Agree': 582.0,
 '3 – Neither agree nor disagree / Not sure': 290.0,
 '5 – Strongly agree': 204.0,
 '2 – Disagree': 167.0}

In [226]:
physicalhealth = 'p15_physicalhealth'

# Define categories as strings
categories = [
    '1 – Strongly disagree',
    '4 – Agree',
    '3 – Neither agree nor disagree / Not sure',
    '5 – Strongly agree',
    '2 – Disagree']

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus'] != 'Enrolled'][physicalhealth].str.count(category).sum()

category_counts

{'1 – Strongly disagree': 308.0,
 '4 – Agree': 5499.0,
 '3 – Neither agree nor disagree / Not sure': 2514.0,
 '5 – Strongly agree': 2084.0,
 '2 – Disagree': 1246.0}

### Mental Health

In [242]:
mentalhealth = 'p16_mentalhealth'

# Define categories as strings
categories = [
    '1 – Strongly disagree',
    '4 – Agree',
    '3 – Neither agree nor disagree / Not sure',
    '5 – Strongly agree',
    '2 – Disagree']

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus'] == 'Enrolled'][mentalhealth].str.count(category).sum()

category_counts

{'1 – Strongly disagree': 96.0,
 '4 – Agree': 381.0,
 '3 – Neither agree nor disagree / Not sure': 383.0,
 '5 – Strongly agree': 118.0,
 '2 – Disagree': 306.0}

In [227]:
mentalhealth = 'p16_mentalhealth'

# Define categories as strings
categories = [
    '1 – Strongly disagree',
    '4 – Agree',
    '3 – Neither agree nor disagree / Not sure',
    '5 – Strongly agree',
    '2 – Disagree']

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus'] != 'Enrolled'][mentalhealth].str.count(category).sum()

category_counts

{'1 – Strongly disagree': 671.0,
 '4 – Agree': 3806.0,
 '3 – Neither agree nor disagree / Not sure': 3612.0,
 '5 – Strongly agree': 1192.0,
 '2 – Disagree': 2348.0}

### Feed Themselves

In [228]:
feedmyself = 'p18_feedmyself'

# Define categories as strings
categories = [
    '1 – Strongly disagree',
    '4 – Agree',
    '3 – Neither agree nor disagree / Not sure',
    '5 – Strongly agree',
    '2 – Disagree']

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus']=='Enrolled'][feedmyself].str.count(category).sum()

category_counts

{'1 – Strongly disagree': 30.0,
 '4 – Agree': 680.0,
 '3 – Neither agree nor disagree / Not sure': 320.0,
 '5 – Strongly agree': 122.0,
 '2 – Disagree': 128.0}

In [229]:
feedmyself = 'p18_feedmyself'

# Define categories as strings
categories = [
    '1 – Strongly disagree',
    '4 – Agree',
    '3 – Neither agree nor disagree / Not sure',
    '5 – Strongly agree',
    '2 – Disagree']

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus']!='Enrolled'][feedmyself].str.count(category).sum()

category_counts

{'1 – Strongly disagree': 292.0,
 '4 – Agree': 6175.0,
 '3 – Neither agree nor disagree / Not sure': 2783.0,
 '5 – Strongly agree': 1168.0,
 '2 – Disagree': 1159.0}

### Optimistic

In [232]:
optimistic = 'p22_optimistic'

# Define categories as strings
categories = [
    '1 – Strongly disagree',
    '4 – Agree',
    '3 – Neither agree nor disagree / Not sure',
    '5 – Strongly agree',
    '2 – Disagree']

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus']=='Enrolled'][optimistic].str.count(category).sum()

category_counts

{'1 – Strongly disagree': 59.0,
 '4 – Agree': 455.0,
 '3 – Neither agree nor disagree / Not sure': 336.0,
 '5 – Strongly agree': 297.0,
 '2 – Disagree': 132.0}

In [233]:
optimistic = 'p22_optimistic'

# Define categories as strings
categories = [
    '1 – Strongly disagree',
    '4 – Agree',
    '3 – Neither agree nor disagree / Not sure',
    '5 – Strongly agree',
    '2 – Disagree']

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    category_counts[category] = data[data['g_enrollmentstatus']!='Enrolled'][optimistic].str.count(category).sum()

category_counts

{'1 – Strongly disagree': 398.0,
 '4 – Agree': 4212.0,
 '3 – Neither agree nor disagree / Not sure': 2961.0,
 '5 – Strongly agree': 2928.0,
 '2 – Disagree': 1050.0}

### Employment Impact

In [234]:
employimpact = ['p30_employimpact1', 'p30_employimpact2', 'p30_employimpact3', 'p30_employimpact4', 'p30_employimpact5', 'p30_employimpact6', 'p30_employimpact7', 'p30_employimpact8']

categories = [
    'laidofforfired',
    'industryshutdown',
    'furloughed',
    'newfreelancework',
    'freelanceworkcanceled',
    'newjob',
    'other_empimpact',
    'empnotimpacted',
    'leftjob']

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    for column in employimpact:
        category_counts[category] += data[data['g_enrollmentstatus']=='Enrolled'][column].str.contains(category, case=False, na=False).sum()

category_counts

{'laidofforfired': 394,
 'industryshutdown': 569,
 'furloughed': 263,
 'newfreelancework': 318,
 'freelanceworkcanceled': 728,
 'newjob': 199,
 'other_empimpact': 137,
 'empnotimpacted': 58,
 'leftjob': 129}

In [235]:
employimpact = ['p30_employimpact1', 'p30_employimpact2', 'p30_employimpact3', 'p30_employimpact4', 'p30_employimpact5', 'p30_employimpact6', 'p30_employimpact7', 'p30_employimpact8']

categories = [
    'laidofforfired',
    'industryshutdown',
    'furloughed',
    'newfreelancework',
    'freelanceworkcanceled',
    'newjob',
    'other_empimpact',
    'empnotimpacted',
    'leftjob']

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    for column in employimpact:
        category_counts[category] += data[data['g_enrollmentstatus']!='Enrolled'][column].str.contains(category, case=False, na=False).sum()

category_counts

{'laidofforfired': 3853,
 'industryshutdown': 5088,
 'furloughed': 2455,
 'newfreelancework': 2847,
 'freelanceworkcanceled': 6747,
 'newjob': 1726,
 'other_empimpact': 997,
 'empnotimpacted': 480,
 'leftjob': 947}

### Art Practice Impact

In [236]:
artpracticeimpact = ['p31_artpracticeimpact1', 'p31_artpracticeimpact2', 'p31_artpracticeimpact3', 'p31_artpracticeimpact4', 'p31_artpracticeimpact5', 'p31_artpracticeimpact6', 'p31_artpracticeimpact7', 'p31_artpracticeimpact8', 'p31_artpracticeimpact9', 'p31_artpracticeimpact10', 'p31_artpracticeimpact11', 'p31_artpracticeimpact12', 'p31_artpracticeimpact13']

categories = [
    'canceledtravelprevented',
    'newseriesofwork',
    'nolongercollab',
    'affordstudio',
    'workonline',
    'showscanceled',
    'lessmotivated',
    'addresscommunityneeds',
    'newcollab',
    'moremotivated',
    'artspractice_noimpact',
    'artpracticeimpact_oth',
    'newexhibitions',
    'studioclosed']

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    for column in artpracticeimpact:
        category_counts[category] += data[data['g_enrollmentstatus']=='Enrolled'][column].str.contains(category, case=False, na=False).sum()

category_counts

{'canceledtravelprevented': 414,
 'newseriesofwork': 577,
 'nolongercollab': 783,
 'affordstudio': 384,
 'workonline': 592,
 'showscanceled': 696,
 'lessmotivated': 540,
 'addresscommunityneeds': 364,
 'newcollab': 453,
 'moremotivated': 495,
 'artspractice_noimpact': 15,
 'artpracticeimpact_oth': 95,
 'newexhibitions': 197,
 'studioclosed': 374}

In [237]:
artpracticeimpact = ['p31_artpracticeimpact1', 'p31_artpracticeimpact2', 'p31_artpracticeimpact3', 'p31_artpracticeimpact4', 'p31_artpracticeimpact5', 'p31_artpracticeimpact6', 'p31_artpracticeimpact7', 'p31_artpracticeimpact8', 'p31_artpracticeimpact9', 'p31_artpracticeimpact10', 'p31_artpracticeimpact11', 'p31_artpracticeimpact12', 'p31_artpracticeimpact13']

categories = [
    'canceledtravelprevented',
    'newseriesofwork',
    'nolongercollab',
    'affordstudio',
    'workonline',
    'showscanceled',
    'lessmotivated',
    'addresscommunityneeds',
    'newcollab',
    'moremotivated',
    'artspractice_noimpact',
    'artpracticeimpact_oth',
    'newexhibitions',
    'studioclosed']

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    for column in artpracticeimpact:
        category_counts[category] += data[data['g_enrollmentstatus']!='Enrolled'][column].str.contains(category, case=False, na=False).sum()

category_counts

{'canceledtravelprevented': 4030,
 'newseriesofwork': 5421,
 'nolongercollab': 7173,
 'affordstudio': 3534,
 'workonline': 5613,
 'showscanceled': 6648,
 'lessmotivated': 4735,
 'addresscommunityneeds': 3441,
 'newcollab': 4227,
 'moremotivated': 4368,
 'artspractice_noimpact': 187,
 'artpracticeimpact_oth': 686,
 'newexhibitions': 1869,
 'studioclosed': 3515}

### Well Being Impact

In [238]:
wellbeingimpact = ['p32_wellbeingimpact1', 'p32_wellbeingimpact2', 'p32_wellbeingimpact3', 'p32_wellbeingimpact4', 'p32_wellbeingimpact5', 'p32_wellbeingimpact6', 'p32_wellbeingimpact7', 'p32_wellbeingimpact8', 'p32_wellbeingimpact9', 'p32_wellbeingimpact10', 'p32_wellbeingimpact11', 'p32_wellbeingimpact12']

categories = [
    'accumulateddebt',
    'anxiety',
    'foodinsecurity',
    'becamecaregiver',
    'wellbeing_noimpact',
    'physicalhealthimprove',
    'mentalhealthimprove',
    'selfcareimprove',
    'loneliness',
    'gotsick',
    'housinginsecurity',
    'hadtomove',
    'wellbeingimpact_oth']

# Initialize a dictionary to 

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    for column in wellbeingimpact:
        category_counts[category] += data[data['g_enrollmentstatus']=='Enrolled'][column].str.contains(category, case=False, na=False).sum()

category_counts

{'accumulateddebt': 606,
 'anxiety': 1094,
 'foodinsecurity': 379,
 'becamecaregiver': 235,
 'wellbeing_noimpact': 26,
 'physicalhealthimprove': 180,
 'mentalhealthimprove': 170,
 'selfcareimprove': 284,
 'loneliness': 892,
 'gotsick': 537,
 'housinginsecurity': 481,
 'hadtomove': 438,
 'wellbeingimpact_oth': 70}

In [239]:
wellbeingimpact = ['p32_wellbeingimpact1', 'p32_wellbeingimpact2', 'p32_wellbeingimpact3', 'p32_wellbeingimpact4', 'p32_wellbeingimpact5', 'p32_wellbeingimpact6', 'p32_wellbeingimpact7', 'p32_wellbeingimpact8', 'p32_wellbeingimpact9', 'p32_wellbeingimpact10', 'p32_wellbeingimpact11', 'p32_wellbeingimpact12']

categories = [
    'accumulateddebt',
    'anxiety',
    'foodinsecurity',
    'becamecaregiver',
    'wellbeing_noimpact',
    'physicalhealthimprove',
    'mentalhealthimprove',
    'selfcareimprove',
    'loneliness',
    'gotsick',
    'housinginsecurity',
    'hadtomove',
    'wellbeingimpact_oth']

# Initialize a dictionary to 

# Initialize a dictionary to hold the counts for each category
category_counts = {category: 0 for category in categories}

# Iterate through the dataset and count occurrences of each category
for category in categories:
    for column in wellbeingimpact:
        category_counts[category] += data[data['g_enrollmentstatus']!='Enrolled'][column].str.contains(category, case=False, na=False).sum()

category_counts

{'accumulateddebt': 5206,
 'anxiety': 9551,
 'foodinsecurity': 3205,
 'becamecaregiver': 1670,
 'wellbeing_noimpact': 294,
 'physicalhealthimprove': 1636,
 'mentalhealthimprove': 1701,
 'selfcareimprove': 2578,
 'loneliness': 7767,
 'gotsick': 4916,
 'housinginsecurity': 4002,
 'hadtomove': 3822,
 'wellbeingimpact_oth': 553}

In [246]:
data.to_excel("CRNY_FinalDataset.xlsx", index=False)